body {
    margin: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    max-width: 850px;
    height: 175vh;
    margin: 0 auto;
}

.one, .three, .two, .four{
    display: flex;
    flex: 1;
    justify-content: center;
}

.one {
    background-color: #1F2937;
}

.three {
    background-color: #E5E7EB;
}

.two, .four {
    background-color: rgb(255, 255, 255);
}

.content {
    width: 650px;
    padding: 0;
    flex: 0 0 auto;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    list-style-type: none;
}

a {
    text-decoration: none;
}