body {
    margin: 0;
    background-color: white;
    color: white;
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    height: 185vh;
    margin: 0 auto;
}

.one, .three, .two, .four{
    display: flex;
    flex: 1;
    justify-content: center;
}

.one {
    background-color: #1F2937;
}

.three {
    background-color: #E5E7EB;
}

.two, .four {
    background-color: rgb(255, 255, 255);
}

.content {
    width: 750px;
    padding: 0;
    flex: 0 0 auto;
}

.one .content {
    display: flex;
    flex-direction: column;
    gap: 68px;
    padding: 12px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 16px;
}

a {
    text-decoration: none;
    color: white;
}

.information {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 160px;
    gap: 30px;
}

.text {
    height: auto;
    width: 650px;
}

h1, p, a, h2 {
    margin: 0 0 8px 0;
    font-family: Hero, sans-serif;
}

p {
    font-size: 14px;
}

.image {
    background-color: rgba(229, 231, 235, .3);
    height: inherit;
    width: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
}